@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.information {
    width: 85%;
    margin: 6rem auto;
    text-align: center;
}

.information h4 {
    font-size: 20px;
}

.information h1, .dev-info h1 {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
}

.dev-info {
    width: 85%;
    margin: 6rem auto;
    text-align: center;
}

.dev-info .developers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dev-info .developer-one {
    display: inline-block;
    text-align: center;
}