@import '~antd/dist/antd.css';

.menu {
  position: fixed;
  width: 100%;
  height: 90px;
  padding: 10px 20px 0 20px;
  border-bottom: solid 1px #e8e8e8;
  /* overflow: auto; */
  box-shadow: 0 0 30px #f3f1f1;
  background-color: white;
  z-index: 5;
}

.ant-menu {
  font-size: 20px;
}

.menu__logo {
  width: 150px;
  float: left;
  padding-top: 8px;
  padding-left: 8px;
}

.menu__container .ant-menu-item {
  padding: 0px 5px;
}

.menu__container .ant-menu-submenu-title {
  padding: 10px 50px;
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
}

.menu__container .menu_left {
  float: left;
  padding-left: 10px;
}

.menu__container .menu_rigth {
  float: right;
}

.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important; /* use of important to overwrite ant-btn */
  background: #f4bf4e !important;
}

.ant-btn-primary {
  border-color: #f4bf4e !important;
  background-color:#f4bf4e !important;
}

html.--antd-wave-shadow-color {
  color: #f4bf4e !important;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}

@media (max-width: 767px) {
  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu_left,
  .menu_rigth {
    display: none;
  }

  .menu__logo a {
    margin-left: -20px;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 10px 20px;
  }

  .menu__logo a {
    padding: 20px;
  }
}
.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: #f4bf4e !important;
  /* padding-bottom: 5px; */
  border-bottom: 2px solid #f4bf4e !important;
}

.ant-menu-submenu-title:hover {
  color: #f4bf4e !important;
}

button.ant-btn menu__mobile-button ant-btn-primary:hover {
  color: #f4bf4e !important;
}

a:hover {
  color: #f4bf4e !important;
}

a:active {
  color: #f4bf4e !important;
}

/*하단 메뉴 글 색*/
.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: #f4bf4e !important;
}


/*우측 메뉴 글 색*/
.ant-menu-horizontal > .ant-menu-item > a:hover {
  color: #f4bf4e !important;
}