@import '~antd/dist/antd.css';

.top {
    margin-top: 5rem;
}

.title {
    display: inline-block;    
}

.writeBtn {
    display: inline-block;
    width: 110px;
    height: 40px;
    position: absolute;
    right: 10%;
    background-color: #1f294f;
    color: white;
    font-size: 1rem;
    margin-top: 5px;
    border: 1px solid transparent;
    border-color: white;
    border-radius: 8px;
}

.writeBtn:hover {
    cursor: pointer;
}

.board {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

.ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    background: #fafafa;
    border-bottom: 1px solid #e8e8e8;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

.ant-table-tbody > tr > td {
    font-size: 17px;
    border-bottom: 1px solid #e8e8e8;
    -webkit-transition: all 0.3s, border 0s;
    transition: all 0.3s, border 0s;
}

.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-thead > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
  background: #f4bf4e1f
}

.discussion {
    text-align: center;
    width: 85%;
    margin: 4rem auto;
}

.discussion-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-width: 60%;
}

.discussion-list-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    height: 200px;
    padding: 1rem;
    background: #F0F0F0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.discussion a {
    font-size: 18px;
    color: black;
}

.discussion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 180px;
    background: #F0F0F0;
}

.discussion-date {
    position: relative;
    top: 3rem;
}

.opinion {
    margin-bottom: 1rem;
}

.opinion .name p {
    display: inline;
    margin-right: 2%;
}

.opinion .content {
    width: 80%;
    height: 10%;
    background: #FFF2CC;
    display: inline-block;
    padding: 3%;
}

.complete {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.complete p {
    font-size: 14px;
    margin-top: 100px;
}

.complete .agree-disagree {
    display: inline-block;
    padding: 1rem;
}

.complete h1 {
    display: inline;
    font-weight: bold;
}

.complete h2 {
    display: inline;
    font-weight: bold;
    font-style: italic;
}

.complete h3 {
    display: inline;
}

.chat {
    display: inline-block; 
    margin: 0 auto;
    width: 100%;
}

.chat .agree {
    overflow: auto; 
    width: 44%; 
    height: 500px; 
    float: left;
    background: #b4c7e7; 
    text-align: left;
    padding: 2%;
    margin-left: 5%; 
}

.chat .disagree {
    overflow: auto; 
    width: 44%; 
    height: 500px; 
    float: right;
    background: #fbe5d6; 
    text-align: right;
    padding: 2%;
    margin-right: 5%; 
}

.comment-ongoing {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.comment-ongoing h2 {
    margin-right: 3%; 
    margin-bottom: 1%;
}

.comment-ongoing .comment-write textarea {
    width: 100%;
    height: 120px;
    resize: none;
    border-radius: 5px;
}

.comment-ongoing .comment-write .buttons {
    display: flex;
    float: right;
}

.comment-ongoing .comment-write .button-pros {
    background: #b4c7e7;
    border-color: #b4c7e7;
    color: black;
    width: 150px;
    height: 50px;
    border-radius: 10px; 
    margin: 0.5rem;
}

.comment-ongoing .comment-write .button-cons {
    background: #fbe5d6;
    border-color: #fbe5d6; 
    color: black;
    width: 150px;
    height: 50px; 
    border-radius: 10px; 
    margin: 0.5rem;
}

.comment-ongoing p {
    color: red;
    margin-left: 1%;
}

.comment-complete {
    margin: 5%;
}

.comment-complete h2 {
    margin-left: 5%; 
    text-align: center; 
    color: gray; 
}