@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.slide-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid lightgrey;
    margin: 7rem auto;
    width: 80%;
    height: calc(100vh - 220px);
    background-color: rgba(253, 252, 250, 0.89);
}

.slide-subject {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.8rem;
    color: black;
    font-weight: 600;
    margin: 6rem auto;
}

.hot-topic-box{
    border: 1px solid lightgrey;
    margin: 5rem auto;
    width: 80%;
    height: calc(100vh - 220px);
    background-color: rgba(253, 252, 250, 0.89);
}

.hot-topic-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.hot-topic-area a, .slide-link a {
    font-size: 1.2rem;
    text-decoration: underline;
}

.hot-topic-area a:hover, .slide-link a:hover {
    font-weight: 800;
    color: #1890ff !important;
    text-decoration: underline;
}

.title {
    position: relative;
    bottom: 20px;
    font-family: 'Bitter', serif;
    font-size: 1.4rem;
    font-weight: 500;
    color: black;
}

.toron {
    font-size: 1.2rem;
    text-decoration: underline;
}

.toron:hover {
    font-weight: 800;
    color: #1890ff !important;
    text-decoration: underline;
}

.topic {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    font-style: italic;
    color: black;
}

.opinion-area {
    display: flex;
    flex-direction: row;
    width: 85%;
}

.vs {
    position: relative;
    top: 140px;
    font-weight: 600;
    font-size: 3rem;
    color: rgb(95, 95, 95);
    font-style: italic;
}

.opinion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 300px;
    background-color: #B4C7E7;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 2rem;
    margin: 2rem;
    border: 2px solid #00000041;
    border-radius: 10px;
}

.opinion .nickname {
    font-size: 1.8rem;
    color: black;
}

.opinion div {
    font-size: 1.3rem;
    color: rgb(26, 26, 26);
}

.ongoing {
    width: 50%;
    margin: 3rem auto;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.ongoing-content {
    text-align: center;
    margin: 2rem auto;
}

p .nickname {
    font-size: 150%;
    font-weight: bold;
}